.oliviaGroup {
    gap: 27px;
    padding-top: 60px;
}

.oliviaLeft {
    padding: 26px 0 25px 20px;
    flex-shrink: 0;
}

.oliviaRight {
    width: 100%;
    justify-content: space-between;
}

.oliviaRight p {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    max-width: 591px;
    padding-bottom: 35px;
}

.oliviaRight button {
    color: #FFF;
    /* text-align: center; */
    font-size: 20.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 156px;
    height: 47.631px;
    align-items: center;
    gap: 8.491px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #000;
    box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.oliviaRight button:hover {
    background: white;
    color: #000;
    font-weight: 600;
}

.oliviaWatches .oliviaBurton {
    top: -42px;
    left: 50px;
}

.oliviaWatches .hilfigerGold {
    top: 10px;
    right: 60px;
}

.oliviaWatches .michael {
    bottom: 44.8%;
    left: 37%;
}

/* ------ */

.oliviaWatches .fossil {
    top: -55px;
    left: 61px;
}

.oliviaWatches .lacoste {
    top: 13px;
    right: 78px;
}

.oliviaWatches .frederiqueConstant {
    bottom: 50%;
    left: 42%;
}

/* ------ */

.oliviaWatches .calvinKlein {
    top: -29px;
    left: 85px;
}

.oliviaWatches .casio {
    top: -3px;
    right: 78px;
}

.oliviaWatches .emporioArmani {
    bottom: 51%;
    left: 35%;
}

.oliviaWatchesDesc div {
    position: absolute;
    text-align: center;
    gap: 12px;
    flex-direction: column;
}

.oliviaWatchesDesc div span {
    padding: 9px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.oliviaWatchesDesc div span svg {
    color: #616161;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.oliviaWatchesDesc .descOliviaBurton {
    top: -77px;
    left: 17px;
}

.oliviaWatchesDesc .descHilfigerGold {
    top: -38px;
    right: -10px;
}

.oliviaWatchesDesc .descMichael {
    bottom: 41%;
    left: 18%;
}

/* ------ */

.oliviaWatchesDesc .descFossil {
    top: -77px;
    left: 66px;
}

.oliviaWatchesDesc .descLacoste {
    top: -38px;
    right: 28px;
}

.oliviaWatchesDesc .descFrederiqueConstant {
    bottom: 41%;
    left: 5%;
}

/* ------ */

.oliviaWatchesDesc .descCalvinKlein {
    top: -77px;
    left: 28px;
}

.oliviaWatchesDesc .descCasio {
    top: -55px;
    right: 44px;
}

.oliviaWatchesDesc .descEmporioArmani {
    bottom: 41%;
    left: 13%;
}


.oliviaWatchesDesc p {
    color: #000;
    font-family: Lato;
    font-size: 16.462px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 1025px) {

    .oliviaGroup {
        gap: 27px;
        padding-top: 60px;
    }

    .oliviaLeft {
        padding: 26px 0 25px 20px;
        flex-shrink: initial;
    }


    .oliviaRight p {
        font-size: 21.333px;
        padding-bottom: 18px;
    }

    .oliviaRight button {
        font-size: 14.727px;
        width: 110.822px;
        height: 33.871px;
    }


    .oliviaWatches .oliviaBurton {
        width: 104px;
        height: 104px;
        top: -24px;
        left: 36px;
    }

    .oliviaWatches .hilfigerGold {
        width: 74.2px;
        height: 97.27px;
        top: 10px;
        right: 44px;
    }

    .oliviaWatches .michael {
        width: 75.62px;
        height: 102.87px;
        bottom: 45.8%;
        left: 42%;
    }

    /* ------ */

    .oliviaWatches .fossil {
        width: 104px;
        height: 104px;
        top: -21px;
        left: 46px;
    }

    .oliviaWatches .lacoste {
        width: 52px;
        height: 76px;
        top: 22px;
        right: 47px;
    }

    .oliviaWatches .frederiqueConstant {
        width: 74px;
        height: 99px;
        bottom: 50%;
        left: 42%;
    }

    /* ------ */

    .oliviaWatches .calvinKlein {
        width: 68px;
        height: 98px;
        top: -22px;
        left: 60px;
    }

    .oliviaWatches .casio {
        width: 54px;
        height: 98px;
        top: 3px;
        right: 52px;
    }

    .oliviaWatches .emporioArmani {
        width: 90px;
        height: 89px;
        bottom: 51%;
        left: 38%;
    }

    .oliviaWatchesDesc div {
        gap: 8px;
    }

    .oliviaWatchesDesc div span {
        padding: 6px;
    }






    .oliviaWatchesDesc .descOliviaBurton {
        top: -60px;
        left: 15px;
    }

    .oliviaWatchesDesc .descHilfigerGold {
        top: -29px;
        right: -4px;
    }

    .oliviaWatchesDesc .descMichael {
        bottom: 41%;
        left: 18%;
    }

    /* ------ */

    .oliviaWatchesDesc .descFossil {
        top: -57px;
        left: 49px;
    }

    .oliviaWatchesDesc .descLacoste {
        top: -21px;
        right: 12px;
    }

    .oliviaWatchesDesc .descFrederiqueConstant {
        bottom: 41%;
        left: 3%;
    }

    /* ------ */

    .oliviaWatchesDesc .descCalvinKlein {
        top: -67px;
        left: 28px;
    }

    .oliviaWatchesDesc .descCasio {
        top: -44px;
        right: 29px;
    }

    .oliviaWatchesDesc .descEmporioArmani {
        bottom: 41%;
        left: 12%;
    }

    .oliviaWatchesDesc p {
        font-size: 11.707px;
    }

}

@media (max-width: 769px) {
    .oliviaGroup {
        flex-direction: column;
    }

    .oliviaLeft {
        display: none;
    }

    .oliviaRight {
        padding-left: 16px;
    }

    .oliviaRight .handImage {
        width: 249.659px;
        height: 255.595px;
    }
}

@media (max-width: 640px) {

    .oliviaGroup {
        display: block;
        margin-bottom: 60px;
    }

    .oliviaLeft {
        display: none;
    }

    .oliviaRight {
        display: block;
        padding: 0 25px 0 16px;
    }

    .oliviaRight p {
        max-width: 334px;
        font-size: 16.954px;
        padding-bottom: 14.45px;
    }

    .oliviaRight button {
        font-size: 11.031px;
        width: 77px;
        height: 25px;
    }

    .oliviaRight .handImage {
        position: absolute;
        width: 159.659px;
        height: 165.595px;
        right: 0;
        top: 34px;

    }
}