.oliviaGroup {
    gap: 27px;
    /* margin: 60px 0 0 0; */
    padding-top: 60px;
}

.oliviaLeft {
    padding: 26px 0 25px 20px;
}


.oliviaRight p {
    color: #000;
    font-family: Montserrat;
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    max-width: 591px;
    padding-bottom: 35px;
}

.oliviaRight button {
    color: #FFF;
    /* text-align: center; */
    font-size: 20.709px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    width: 156px;
    height: 47.631px;
    align-items: center;
    gap: 8.491px;
    flex-shrink: 0;
    border-radius: 2px;
    background: #000;
    box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
    transition: all 0.3s;
}

.oliviaRight button:hover {
    background: white;
    color: #000;
    font-weight: 600;
}

.oliviaWatches :nth-child(1) {
    top: -43px;
    left: 50px;
}

.oliviaWatches :nth-child(2) {
    top: 8px;
    right: 60px;
}

.oliviaWatches :nth-child(3) {
    bottom: 45%;
    left: 37%;
}

.oliviaWatchesDesc div {
    position: absolute;
    text-align: center;
    gap: 12px;
    flex-direction: column;
}

.oliviaWatchesDesc div span {
    padding: 9px;
    border-radius: 50%;
    background-color: #EBEBEB;
}

.oliviaWatchesDesc div span svg {
    color: #616161;
    display: inline-block;
    width: 24px;
    height: 24px;
}

.oliviaWatchesDesc :nth-child(1) {
    top: -77px;
    left: 17px;
}

.oliviaWatchesDesc :nth-child(2) {
    top: -13px;
    right: 13px;
}

.oliviaWatchesDesc :nth-child(3) {
    bottom: 41%;
    left: 18%;
}

.oliviaWatchesDesc p {
    color: #000;
    font-family: Lato;
    font-size: 16.462px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 1025px) {

    .oliviaGroup {
        gap: 27px;
        /* margin: 60px 0 0 0; */
        padding-top: 60px;
    }

    .oliviaLeft {
        padding: 26px 0 25px 20px;
    }

    .oliviaGroup .oliviaWatches img:nth-child(1) {
        width: 106px;
        height: 106px;
    }

    .oliviaGroup .oliviaWatches img:nth-child(2) {
        width: 75.2px;
        height: 100.267px;
    }

    .oliviaGroup .oliviaWatches img:nth-child(3) {
        width: 46.618px;
        height: 93.867px;
    }

    .oliviaRight p {
        font-size: 21.333px;
        padding-bottom: 18px;
    }

    .oliviaRight button {
        font-size: 14.727px;
        width: 110.822px;
        height: 33.871px;
    }


    .oliviaWatches :nth-child(1) {
        top: -26px;
        left: 40px;
    }

    .oliviaWatches :nth-child(2) {
        top: 11px;
        right: 39px;
    }

    .oliviaWatches :nth-child(3) {
        bottom: 47%;
        left: 48%;
    }

    .oliviaWatchesDesc div {
        gap: 8px;
    }

    .oliviaWatchesDesc div span {
        padding: 6px;
    }

    .oliviaWatchesDesc :nth-child(1) {
        top: -67px;
        left: 17px;
    }

    .oliviaWatchesDesc :nth-child(2) {
        top: -27px;
        right: 14px;
    }

    .oliviaWatchesDesc :nth-child(3) {
        bottom: 38%;
        left: 21%;
    }

    .oliviaWatchesDesc p {
        font-size: 11.707px;
    }

}