.purchaseContent {
    display: flex;
    justify-content: space-between;
    padding: 0 40px 80px 40px;
}

.purchaseContent .leftSide {
    width: 680px;
    max-height: 600px;
    overflow: hidden;
    position: relative;
}

.itemsContainer {
    overflow-y: auto;
    max-height: 600px;
}

.purchaseContent .leftSide .emptyBag {
    padding: 20px 0 0 0;
    font-size: 20px;
}

.purchaseContent .leftSide h2 {
    position: sticky;
    top: 0;
    background: white;
    /* Scroll zamanı arxanın görünməməsi üçün */
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    padding-bottom: 14px;
    margin-right: 30px;
}

.purchaseContent .leftSide .itemBag {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    margin-right: 30px;
    gap: 10px;
}

.purchaseContent .leftSide .itemBag img {
    width: 250px;
    height: 334px;
    flex-shrink: 0;
    aspect-ratio: 125/167;
    object-fit: cover;
}

.purchaseContent .leftSide .itemBag .itemBox {
    padding: 34px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 15px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
.purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
    padding-bottom: 10px;
    font-size: 24px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
    text-transform: capitalize;
    font-weight: 600;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc p span {
    font-weight: 500;
}

.purchaseContent .leftSide .itemBag .itemBox .itemButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
    /* padding: 10px; */
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ------------------------------ */

.purchaseContent .rightSide {
    width: 550px;
}

.purchaseContent .rightSide h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    padding-bottom: 14px;
    margin-bottom: 34px;
}

.purchaseContent .rightSide span {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-transform: capitalize; */
}

.purchaseContent .rightSide .generalMoney {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.purchaseContent .rightSide .generalMoney span:last-child {
    font-weight: 600;
}

.purchaseContent .rightSide .transportPart {
    display: flex;
    justify-content: space-between;
}

.purchaseContent .rightSide .transportPart span {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 24px;
}

.purchaseContent .rightSide .transportPart span:last-child {
    font-weight: 600;
}

.purchaseContent .rightSide .transportPart span span {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
}

.purchaseContent .rightSide .buttonDiv {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.purchaseContent .rightSide .buttonDiv button {
    background: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: #D9D9D9;
    padding: 26px 0;
    width: 300px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.purchaseContent .rightSide .buttonDiv button:hover {
    color: #000;
    background: #D9D9D9;
}

@media (max-width: 1280px) {
    .purchaseContent {
        padding: 0 30px 60px 30px;
    }

    .purchaseContent .leftSide {
        width: 580px;
        max-height: 500px;
    }

    .itemsContainer {
        max-height: 500px;

    }

    .purchaseContent .leftSide .emptyBag {
        padding: 20px 0 0 0;
        font-size: 19px;
    }

    .purchaseContent .leftSide h2 {
        font-size: 23px;
        padding-bottom: 14px;
        margin-right: 30px;
    }

    .purchaseContent .leftSide .itemBag {
        margin-right: 30px;
    }

    .purchaseContent .leftSide .itemBag img {
        width: 220px;
        height: 300px;
    }

    .purchaseContent .leftSide .itemBag .itemBox {
        padding: 30px 0 0 0;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc {
        gap: 10px;
        padding-bottom: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
    .purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
        font-size: 19px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
        padding-bottom: 10px;
        font-size: 23px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons {
        gap: 5px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
        font-size: 19px;
        width: 40px;
        height: 40px;
    }

    /* ------------------------------ */

    .purchaseContent .rightSide {
        width: 500px;
    }

    .purchaseContent .rightSide h2 {
        font-size: 23px;
        padding-bottom: 14px;
        margin-bottom: 30px;
    }

    .purchaseContent .rightSide span {
        font-size: 23px;
    }

    .purchaseContent .rightSide .generalMoney {
        padding-bottom: 30px;
    }

    .purchaseContent .rightSide .transportPart span {
        font-size: 23px;
    }

    .purchaseContent .rightSide .transportPart span span {
        font-size: 19px;
        margin-top: 6px;
    }

    .purchaseContent .rightSide .buttonDiv {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .purchaseContent .rightSide .buttonDiv button {
        font-size: 23px;
        padding: 22px 0;
        width: 280px;
    }
}

@media (max-width: 1025px) {
    .purchaseContent {
        padding: 0 20px 40px 20px;
    }

    .purchaseContent .leftSide {
        width: 480px;
        max-height: 400px;
    }

    .itemsContainer {
        max-height: 400px;
    }

    .purchaseContent .leftSide .emptyBag {
        padding: 15px 0 0 0;
        font-size: 18px;
    }

    .purchaseContent .leftSide h2 {
        font-size: 20px;
        padding-bottom: 14px;
        margin-right: 30px;
    }

    .purchaseContent .leftSide .itemBag {
        margin-right: 30px;
    }

    .purchaseContent .leftSide .itemBag img {
        width: 200px;
        height: 250px;
    }

    .purchaseContent .leftSide .itemBag .itemBox {
        padding: 30px 0 0 0;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc {
        gap: 10px;
        padding-bottom: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
    .purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
        font-size: 18px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
        padding-bottom: 10px;
        font-size: 20px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons {
        gap: 5px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
        font-size: 18px;
        width: 35px;
        height: 35px;
    }

    /* ------------------------------ */

    .purchaseContent .rightSide {
        width: 450px;
    }

    .purchaseContent .rightSide h2 {
        font-size: 20px;
        padding-bottom: 14px;
        margin-bottom: 30px;
    }

    .purchaseContent .rightSide span {
        font-size: 20px;
    }

    .purchaseContent .rightSide .generalMoney {
        padding-bottom: 30px;
    }

    .purchaseContent .rightSide .transportPart span {
        font-size: 20px;
    }

    .purchaseContent .rightSide .transportPart span span {
        font-size: 18px;
        margin-top: 6px;
    }

    .purchaseContent .rightSide .buttonDiv {
        width: 100%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .purchaseContent .rightSide .buttonDiv button {
        font-size: 18px;
        padding: 22px 0;
        width: 220px;
    }
}

@media (max-width: 768px) {
    .purchaseContent {
        padding: 0 20px 40px 20px;
    }

    .purchaseContent .leftSide {
        max-width: 340px;
        max-height: 400px;
    }

    .itemsContainer {
        max-height: 400px;
    }

    .purchaseContent .leftSide .emptyBag {
        padding: 15px 0 0 0;
        font-size: 16px;
    }

    .purchaseContent .leftSide h2 {
        font-size: 17px;
        padding-bottom: 14px;
        margin-right: 17px;
    }

    .purchaseContent .leftSide .itemBag {
        margin-right: 17px;
        gap: 0;
    }

    .purchaseContent .leftSide .itemBag img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .purchaseContent .leftSide .itemBag .itemBox {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc {
        gap: 8px;
        padding-bottom: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
    .purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
        font-size: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
        padding-bottom: 7px;
        font-size: 17px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons {
        gap: 5px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
        font-size: 15px;
        width: 35px;
        height: 35px;
    }

    /* ------------------------------ */

    .purchaseContent .rightSide {
        max-width: 340px;
    }

    .purchaseContent .rightSide h2 {
        font-size: 17px;
        padding-bottom: 14px;
        margin-bottom: 17px;
    }

    .purchaseContent .rightSide span {
        font-size: 17px;
    }

    .purchaseContent .rightSide .generalMoney {
        padding-bottom: 17px;
    }

    .purchaseContent .rightSide .transportPart span {
        font-size: 17px;
    }

    .purchaseContent .rightSide .transportPart span span {
        font-size: 15px;
        margin-top: 6px;
    }

    .purchaseContent .rightSide .buttonDiv {
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .purchaseContent .rightSide .buttonDiv button {
        font-size: 15px;
        padding: 20px 0;
        width: 190px;
    }
}

@media (max-width: 640px) {
    .purchaseContent {
        padding: 20px 10px 40px 10px;
        flex-direction: column;
        gap: 30px;
    }

    .purchaseContent .leftSide {
        max-width: 340px;
        max-height: 440px;
        margin: 0 auto;
    }

    .itemsContainer {
        max-height: 400px;
    }

    .purchaseContent .leftSide .emptyBag {
        padding: 15px 0 0 0;
        font-size: 16px;
    }

    .purchaseContent .leftSide h2 {
        font-size: 17px;
        padding-bottom: 14px;
        margin-right: 17px;
    }

    .purchaseContent .leftSide .itemBag {
        margin-right: 17px;
        gap: 0;
    }

    .purchaseContent .leftSide .itemBag img {
        width: 200px;
        height: 200px;
        object-fit: contain;
    }

    .purchaseContent .leftSide .itemBag .itemBox {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc {
        gap: 8px;
        padding-bottom: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
    .purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
        font-size: 15px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
        padding-bottom: 7px;
        font-size: 17px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons {
        gap: 5px;
    }

    .purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
        font-size: 15px;
        width: 35px;
        height: 35px;
    }

    /* ------------------------------ */

    .purchaseContent .rightSide {
        max-width: 340px;
        margin: 0 auto;
    }

    .purchaseContent .rightSide h2 {
        font-size: 17px;
        padding-bottom: 14px;
        margin-bottom: 17px;
        margin-right: 17px;
    }

    .purchaseContent .rightSide span {
        font-size: 17px;
    }

    .purchaseContent .rightSide .generalMoney {
        padding-bottom: 17px;
    }

    .purchaseContent .rightSide .transportPart span {
        font-size: 17px;
    }

    .purchaseContent .rightSide .transportPart span span {
        font-size: 15px;
        margin-top: 6px;
    }

    .purchaseContent .rightSide .buttonDiv {
        width: 100%;
        margin: 0 auto;
        margin-top: 25px;
    }

    .purchaseContent .rightSide .buttonDiv button {
        font-size: 15px;
        padding: 20px 0;
        width: 190px;
    }
}