.iconInfo {
    padding: 60px 154px;
    justify-content: space-between;
}

.icon_desc {
    gap: 28px;
}

.icon_desc span {
    width: 60px;
    height: 60px;
}

/* .icon_desc svg {
    width: 100%;
    height: 100%;
} */

@media (max-width: 1025px) {
    .iconInfo {
        padding: 0;
        justify-content: space-evenly;
    }

    .icon_desc {
        gap: 28px;
    }

    /* .icon_desc span {
        width: 40.06px !important;
        height: 40.06px !important;
    } */
}