.filterCards {
    padding: 60px 0;
}

.filterCards .cards_box {
    max-width: 1440px !important;
    margin: 0 auto !important;
}

.cardsAnchor {
  scroll-margin-top: 80px; /* sticky header h端nd端rl端y端 */
}

@media (max-width: 640px) {
  .filterCards {
    padding: 30px 0 60px 0;
  }
  
}