.filterCards {
    padding: 60px 0;
}

.filterCards .cards_box {
    max-width: 1440px !important;
    margin: 0 auto !important;
}

.cardsAnchor {
  scroll-margin-top: 80px; /* sticky header hündürlüyü */
}