.brands {
    padding-bottom: 40px;
}

.image_div {
    position: relative;
}

.borderRight {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: 1px;
    height: 60%;
    transform: translateY(-50%);
    background: linear-gradient(90deg, #FFF 0%, #000 22.32%, #000 50.26%, #000 70.08%, #FFF 100%);
}

/* .brands h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
} */

@media screen and (max-width: 1025px) {
    .brands {
        padding-bottom: 20px;
    }
}