/* ----------------------- row-1 --------------------- */
/* ----------------------- row-1 --------------------- */

.row_1 {
    padding: 51px 0 29px 0;
}

.row_1 ul {
    gap: 30px;
}

.row_1 ul li {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}


/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */


.row_2 p {
    color: #000;
    font-size: 19.446px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    /* font-family: var(--font-lato); */
}