/* ----------------------- row-1 --------------------- */
/* ----------------------- row-1 --------------------- */

.row_1 {
    padding: 51px 0 29px 0;
}

.row_1 ul {
    gap: 30px;
}

.row_1 ul li {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.row_1 ul :nth-child(2) {
    opacity: 0.21;
}

.row_1 ul :nth-child(3) {
    opacity: 0.21;
}

/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */


.row_2 p {
    color: #000;
    font-size: 19.446px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-family: var(--font-lato);
}


/* ----------------------- row-3 --------------------- */
/* ----------------------- row-3 --------------------- */

.row_3 {
    padding: 42px 0 138px 0;
    flex-wrap: wrap;
    gap: 16px;
}

.row_3 .cards {
    padding: 26px 16px 19px 16px;
}

.row_3 .cards h3 {
    color: #100F0F;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    padding: 0 0 8px 0;
    margin: 0;
}

.row_3 .cards p {
    color: #1E1D1D;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}