/* ----------------------- row-1 --------------------- */
/* ----------------------- row-1 --------------------- */

.row_1 {
    padding: 24px 0 29px 0;
}

.row_1 ul {
    gap: 30px;
}

.row_1 ul li {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .row_1 {
        padding: 17px 0 20px 0;
    }

    .row_1 ul {
        gap: 21px;
    }

    .row_1 ul li {
        font-size: 22.718px;
    }

}


/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */

.row_2 {
    padding-bottom: 48px;
}

.row_2 p {
    color: #000;
    font-size: 19.446px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.moreButton {
    padding: 20px 0;
}

.moreButton button {
    border-radius: 2px;
    box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
    height: 47.631px;
    padding: 0 30px;
}

@media (max-width: 1024px) {
    .row_2 {
        padding-bottom: 30px;
    }

    .row_2 p {
        font-size: 13.806px;
    }

    .moreButton button {
        border-radius: 2px;
        box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
        height: 33.631px;
        padding: 0 20px;
        font-size: 14.702px;
    }

}