.contactSection {
    padding: 80px 0 53px 0;
    /* background: #F9F9F9; */
}

.contactSection .contactBox {
    /* max-width: 1148px; */
    /* margin: 0 auto; */
    background: #131313;
    padding: 56px 41px 105px 60px;
}

.contactSection .contactBox .leftSide {
    width: 537px;
}

.contactSection .contactBox .leftSide h1 {
    color: #F0F0F0;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 16px;
}

.contactSection .contactBox .leftSide p {
    color: #FFF;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


/* ///////////////////////////// Right Side ///////////////////////// */
.contactSection .contactBox .rightSide .sendEmail input {
    color: #FFF;
    font-family: Montserrat;
    font-size: 14.587px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: rgb(240 240 240 / 36%);
    backdrop-filter: blur(2.75px);
    width: 296.221px;
    padding-left: 19px;
}

.contactSection .contactBox .rightSide .sendEmail button {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 17.953px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 22.441px 35.906px;
    background: var(--first-color-action-dark, #3D3D3D);
}

.contactSection .contactBox .rightSide .sendEmail button:hover {
    background: #2a2a2a;
}

@media (max-width: 1025px) {
    .contactSection {
        padding: 57px 0 38px 0;
    }

    .contactSection .contactBox {
        padding: 40px 29px 74px 42px;
    }

    .contactSection .contactBox .leftSide {
        max-width: 382px;
    }

    .contactSection .contactBox .leftSide h1 {
        font-size: 25.6px;
    }

    .contactSection .contactBox .leftSide p {
        font-size: 12.8px;
    }


    /* ///////////////////////////// Right Side ///////////////////////// */
    .contactSection .contactBox .rightSide .sendEmail input {
        font-size: 12.373px;
        width: 210px;
    }

    .contactSection .contactBox .rightSide .sendEmail button {
        padding: 14px 30.906px;
        font-size: 14.766px;
    }
}