.footer {
    padding: 45px 0 36px 0;
}

.footer .footerBox {
    border-bottom: 1px solid linear-gradient(90deg, #FFF 0%, #000 29.38%, #000 51.41%, #000 71.33%, #FFF 100%);
    padding-bottom: 37px;

}

.footer .footerBox ul {
    /* width: 250px; */
    align-self: start;

}

.footer .footerBox ul li {
    color: #1E1D1D;
    font-family: Roboto;
    font-size: 17.953px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    display: flex;
    /* justify-content: start; */
    align-items: center;
    gap: 10px;
}

.footer .footerBox ul li span {
    width: 24px;
    height: 24px;
    align-self: start;
}

.footer .footerBox ul li span svg {
    object-fit: contain;
}

.footer .footerBox ul li:nth-child(1) {
    color: #1E1D1D;
    font-family: Roboto;
    font-size: 22.441px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

.footerGradientLine {
    width: 1147.856px;
    height: 1.122px;
    background: linear-gradient(90deg, #FFF 0%, #000 29.38%, #000 51.41%, #000 71.33%, #FFF 100%);
    margin-bottom: 36px;
}


.greenwich2025 span:last-child {
    color: #1E1D1D;
    font-family: Roboto;
    font-size: 14.587px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}