.footer {
    padding: 45px 0 36px 0;
}

.footer .footerBox {
    padding-bottom: 37px;
    justify-content: space-evenly;
}

@media (max-width: 1025px) {
    .footer .footerBox {
        padding-bottom: 26px;
    }
}

.footer .footerBox ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    align-items: start;
    /* word-break: break-all; */
    gap: 8px;
    max-width: 240px;
}

@media (max-width: 1025px) {
    .footer .footerBox ul {
        max-width: 169px;
    }
}




.footer .footerBox ul li {
    color: #1E1D1D;
    font-family: Roboto;
    font-size: 17.953px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    /* justify-content: start; */
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

@media (max-width: 1025px) {
    .footer .footerBox ul li {
        font-size: 12.766px;
        gap: 6px;
    }

    .footer .footerBox ul svg {
        font-size: 16px;
    }

}

.footer .footerBox ul li:nth-child(1) {
    color: #1E1D1D;
    font-family: Roboto;
    font-size: 22.441px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

@media (max-width: 1025px) {
    .footer .footerBox ul li:nth-child(1) {
        font-size: 15.766px;
    }
}

.footer .footerBox ul li span svg {
    width: 22px;
    height: 22px;
    object-fit: contain;
}


.footerGradientLine {
    height: 1.122px;
    background: linear-gradient(90deg, #FFF 0%, #000 29.38%, #000 51.41%, #000 71.33%, #FFF 100%);
}


.greenwich2025 span:last-child {
    color: #1E1D1D;
    font-family: Roboto;
    font-weight: 400;
}

@media (max-width: 1440px) {
    .greenwich2025 span:last-child {
        font-size: 14px;
    }
}

@media (max-width: 1025px) {
    .greenwich2025 span:last-child {
        font-size: 10px;
    }
}