.row-1 {
  background: #2b2b28;
  height: 51px;
  gap: 22.82px;
}

@media (max-width: 1024px) {
  .row-1 {
    gap: 16px;
    height: 36px;
  }
}

.row-1 img {
  width: 21px;
  height: 21px;
}

@media (max-width: 1024px) {
  .row-1 img {
    width: 15.27px;
    height: 15.27px;
  }
}

.row-1 p {
  color: #fdfdfd;
  font-family: Montserrat;
  font-size: 21.474px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.553px;
  margin: 0;
}

@media (max-width: 1024px) {
  .row-1 p {
    font-size: 15.27px;
  }
}


/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */



.row-2 {
  z-index: 12 !important;
  padding: 20px 40px;
}

@media (max-width: 1024px) {
  .row-2 {
    padding: 18px 28px;
  }

}

.row-2 .row-2-search {
  padding: 8px 12px;
  border-radius: 24px;
  background: #EFEEEE;
}

@media (max-width: 1024px) {
  .row-2 .row-2-search {
    padding: 6px 10px;
    border-radius: 17.067px;
  }
}

@media (max-width: 1024px) {
  .row-2 .row-2-search img {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 1024px) {
  .row-2 .row-2-search input {
    font-size: 11px;
  }
}

.row-2 .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  object-fit: contain;
}

@media (max-width: 1024px) {
  .row-2 .logo {
    width: 119px;
    height: 32px;
  }
}

.row-2-icons {
  gap: 12px;
}

.row-2-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .row-2-icons img {
    width: 22px;
    height: 22px;
  }
}

.fixed-row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease-in-out; */
}