.row-1 {
  background: #2b2b28;
  height: 51px;
  gap: 22.82px;
  position: relative;
}

.row-1 img {
  width: 21px;
  height: 21px;
}

.row-1 p {
  color: #fdfdfd;
  font-family: Montserrat;
  font-size: 21.474px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.553px;
  margin: 0;
  text-decoration: none;
}

.row-1 a {
  color: #fdfdfd;
}

.fixedNumber,
.fixedSocialMedia {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  top: 50%;
  transform: translateY(-50%);
  font-style: normal;
  font-size: 20px;
}

.fixedNumber {
  left: 30px;
}

.fixedSocialMedia {
  right: 30px;
}

.row-1-mobile {
  display: none;
}

.menuItemsList li {
  position: relative;
}

/* Linkin özü */
.menuItemsList li .menuLink {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* Xətt (default: gizli) */
.menuItemsList li .menuLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 100%;
  background: linear-gradient(90deg,
      rgb(255, 255, 255) 0%,
      rgb(0, 0, 0) 29.38%,
      rgb(0, 0, 0) 51.41%,
      rgb(0, 0, 0) 71.33%,
      rgb(255, 255, 255) 100%);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  pointer-events: none;
}

/* Hover-də xətt açılsın (istəyə bağlı) */
.menuItemsList li .menuLink:hover::before {
  transform: scaleX(1);
}

/* Aktiv olanda xətt həmişə görünsün */
.menuItemsList li .menuLink.active::before {
  transform: scaleX(1);
}



/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */

.row-2 {
  z-index: 12 !important;
  padding: 20px 40px;
}

.row-2 .row-2-search {
  padding: 8px 12px;
  border-radius: 24px;
  background: #EFEEEE;
}

.row-2 .row-2-search svg {
  width: 24px;
  height: 24px;
}

.row-2 .burgerIcon {
  display: none;
}

.row-2 .logo_box {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

.row-2 .logo_box .logo {
  object-fit: contain;
}

.row-2-icons {
  gap: 12px;
}

.row-2-icons svg {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.row-2-icons .searchMobile {
  display: none;
}

.fixed-row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* transition: all 0.3s ease-in-out; */
}

.row_3 {
  padding: 50px 0 70px 0;
}

.row_3 ul {
  gap: 42px;
}

.row_3 ul li {
  color: #000;
  font-family: Montserrat;
  font-size: 17px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

.mobileNavbar {
  display: none;
}

@media (max-width: 1280px) {
  .row_3 ul li {
    font-size: 16px;
  }
}

@media (max-width: 1025px) {
  .row-1 {
    gap: 16px;
    height: 36px;
  }

  .row-1 img {
    width: 15px;
    height: 15px;
  }

  .row-1 p {
    font-size: 15px;
  }

  .row-1 .fixedNumber,
  .row-1 .fixedSocialMedia {
    font-size: 15px;
    gap: 6px;
  }

  .fixedNumber {
    left: 20px;
  }

  .fixedSocialMedia {
    right: 20px;
  }

  .row-2 {
    padding: 10px 28px 20px 28px;
  }

  .row-2 .row-2-search {
    padding: 6px 10px;
    border-radius: 17.067px;
  }

  .row-2 .row-2-search svg {
    width: 20px;
    height: 20px;
  }

  .row-2 .row-2-search input {
    font-size: 13px;
  }

  .row-2 .logo {
    width: 119px;
    height: 32px;
  }

  .row-2-icons svg {
    width: 24px;
    height: 24px;
  }

  .row_3 {
    padding: 30px 0 50px 0;
  }

  .row_3 ul {
    gap: 28px;
  }

  .row_3 ul li {
    font-size: 16px;
  }

}

@media (max-width: 769px) {
  .row-1 {
    gap: 12.17px;
    height: 32px;
  }

  .row-1 img {
    width: 15.27px;
    height: 15.27px;
  }

  .row-1 p {
    font-size: 14px;
  }

  .row-1 .fixedNumber,
  .row-1 .fixedSocialMedia {
    font-size: 12px;
    gap: 4px;
  }

  .fixedNumber {
    left: 15px;
  }

  .fixedSocialMedia {
    right: 15px;
  }

  .row-2 {
    padding: 18px 28px 28px 28px;
  }

  .row-2 .row-2-search {
    padding: 4px 8px;
    border-radius: 17.067px;
  }

  .row-2 .row-2-search img {
    width: 17px;
    height: 17px;
  }

  .row-2 .row-2-search input {
    font-size: 12px;
  }

  .row-2 .logo {
    width: 94.871px;
    height: 26.005px;
  }

  .row_3 {
    padding: 10px 0 50px 0;
  }

  .row_3 ul {
    gap: 28px;
  }

  .row_3 ul li {
    font-size: 14px;
  }
}

@media (max-width: 640px) {
  .row-1 {
    gap: 6px;
    height: 29px;
  }

  .row-1 img {
    width: 12px;
    height: 12px;
  }

  .row-1 p {
    font-size: 13px;
  }

  .row-1 .fixedNumber,
  .row-1 .fixedSocialMedia {
    display: none;
  }

  .row-1-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4b4b46;
    height: 29px;
    position: relative;
  }

  .row-1-mobile p,
  .row-1-mobile a {
    font-size: 13px;
    color: #fdfdfd;
  }

  .fixedNumber,
  .fixedSocialMedia {
    gap: 3px;
  }

  .fixedNumber {
    left: 15px;
  }

  .fixedSocialMedia {
    right: 15px;
  }

  /* ------- */

  .row-2 {
    padding: 14px 16px;
  }

  .row-2 .row-2-search {
    display: none;
  }

  .row-2 .burgerIcon {
    display: block;
    cursor: pointer;
  }

  .row-2 .logo {
    width: 78px;
    height: 21.381px;
  }

  .row-2-icons {
    gap: 6px;
  }


  .row-2-icons svg {
    width: 22px;
    height: 22px;
  }

  c .row-2-icons .searchMobile {
    display: block;
  }

  .row_3 {
    display: none;
  }

  /* ----- */


  .mobileNavbar {
    overflow: hidden;
    position: fixed;
    display: block;
  }

  .mobileNavbar button {
    padding: 8px 0 10px 8px;
  }

  .mobileNavbar button img {
    width: 23px;
    height: 23px;
  }

  .mobileNavbar ul {
    gap: 15px;
    flex-direction: column;
    padding: 18px;
  }

  .mobileNavbar ul li a {
    color: #000;
    font-family: Montserrat;
    font-size: 13.491px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .mobileNavbar ul li span img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 344px) {
  .row-2-icons {
    gap: 2px;
  }
}