/* nav {
  overflow: visible;
} */

/* .fixed-row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
} */


/* ----------------------- row-1 --------------------- */
/* ----------------------- row-1 --------------------- */

.row-1 {
  background: #2b2b28;
  height: 51px;
  gap: 22.82px;
}

.row-1 img {
  width: 21px;
  height: 21px;
}

.row-1 p {
  color: #fdfdfd;
  font-family: Montserrat;
  font-size: 21.474px;
  font-style: normal;
  font-weight: 500;
  line-height: 33.553px;
  /* 156.25% */
  /* text-transform: lowercase; */
  margin: 0;
}


/* ----------------------- row-2 --------------------- */
/* ----------------------- row-2 --------------------- */



.row-2 {
  /* padding: 26px 40px; */
  z-index: 12 !important;
  padding: 20px 40px;

}

.row-2 .row-2-search {
  padding: 8px 12px;
  border-radius: 24px;
  background: #EFEEEE;
}

.row-2 .row-2-search input {
  border: 0;
}

.row-2 .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  object-fit: contain;
}

.row-2-icons {
  gap: 12px;
}

.row-2-icons img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.fixed-row {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}