.specialOffer .cards_container .specialOfferCard {
    width: 100%;
    max-width: 100%;
    height: 367px;
}

.specialOffer .cards_container:nth-child(2) img {
    object-position: bottom;
}

.desc {
    background: rgba(255, 255, 255, 0.20);
    backdrop-filter: blur(2.8499999046325684px);
    padding: 24px 28px;
    height: 96px;
}

.desc p {
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 32.981px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.desc .etrafliSpan {
    font-size: 20px;
}

.desc .generalEyeSpan {
    width: 42px;
    height: 42px;
}

.desc .generalEyeSpan span {
    width: 6px;
    height: 6px;
    top: 12px;
}

@media (max-width: 1025px) {
    .specialOffer .cards_container .specialOfferCard {
        height: 260.978px;
    }

    .desc {
        padding: 17px 19px;
    }

    .desc p {
        font-size: 23.453px;
    }

    .desc .etrafliSpan {
        font-size: 17px;
    }

    .desc .generalEyeSpan {
        width: 30px;
        height: 30px;
    }

    .desc .generalEyeSpan span {
        top: 10px;
    }
}

@media (max-width: 769px) {
    .specialOffer .cards_container .specialOfferCard {
        height: 254.441px;
    }

    .desc {
        padding: 16px 13px;
        height: 53px;
    }

    .desc p {
        font-size: 18.363px;
    }

    .desc .etrafliSpan {
        font-size: 14px;
    }

    .desc .generalEyeSpan {
        width: 25px;
        height: 25px;
    }

    .desc .generalEyeSpan span {
        top: 7px;
        width: 4px;
        height: 4px;
    }
}

@media (max-width: 640px) {
    .specialOffer .cards_container {
        display: none;
    }
}