@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
  /* max-width: 1440px;
  margin: 0 auto; */
}

.font-lato {
  font-family: var(--font-lato);
}

.react-window::-webkit-scrollbar {
  height: 6px;
}

.react-window::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.react-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-pagination .swiper-pagination-bullet-active {
  background: #2B2B28 !important;
}

/* ---- */

.custom-swiper-prev,
.custom-swiper-next {
  /* background: black; */
  color: black;
  border: none;
  /* padding: 8px 12px; */
  cursor: pointer;
  /* font-size: 30px; */
  /* border-radius: 6px; */
  /* transition: background 0.2s; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 6px auto; */
  position: absolute;
}

.custom-swiper-prev {
  top: -51px;
  left: 17px;
}

.custom-swiper-next {
  bottom: -51px;
  left: 17px;
}

/* .custom-swiper-prev:hover,
.custom-swiper-next:hover {
  background: #333;
} */

.custom-swiper-prev:disabled,
.custom-swiper-next:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}