@import "tailwindcss";

:root {
  --font-montserrat: 'Montserrat', sans-serif;
  --font-lato: 'Lato', sans-serif;
  --font-roboto: 'Roboto', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-montserrat);
  background-color: #fff;
  color: #333;
  box-sizing: border-box;
}

.font-lato {
  font-family: var(--font-lato);
}

.react-window::-webkit-scrollbar {
  height: 6px;
}

.react-window::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.react-window::-webkit-scrollbar-thumb:hover {
  background: #555;
}
