/* ----------------------- row-3 --------------------- */
/* ----------------------- row-3 --------------------- */

.row_3 {
  padding: 50px 0 60px 0;
}

@media (max-width: 1025px) {
  .row_3 {
    padding: 30px 0 40px 0;
  }
}

.row_3 ul {
  gap: 40px;
}

@media (max-width: 1025px) {
  .row_3 ul {
    gap: 28px;
  }
}

.row_3 ul li {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  line-height: normal;
  cursor: pointer;
}

@media (max-width: 1025px) {
  .row_3 ul li {
    font-size: 11.378px;
  }
}


/* ----------------------- row-4 --------------------- */
/* ----------------------- row-4 --------------------- */

.row_4 {
  padding-bottom: 80px;
}

.row_4 div {
  gap: 22px;
}

.row_4 .banner_1 {
  width: 302px;
  height: 302px;
}

.row_4 .banner_2 {
  width: 658px;
  height: 302px;
}

.row_4 .banner_3 {
  width: 302px;
  height: 302px;
}

@media (max-width: 1025px) {
  .row_4 {
    padding-bottom: 56px;
  }

  .row_4 div {
    gap: 15.6px;
  }

  .row_4 .banner_1 {
    width: 215px;
    height: 201px;
  }

  .row_4 .banner_2 {
    width: 467px;
    height: 201px;
  }

  .row_4 .banner_3 {
    width: 215px;
    height: 201px;
  }
}