/* ----------------------- row-4 --------------------- */
/* ----------------------- row-4 --------------------- */

.row_4 {
  padding-bottom: 80px;
}

.row_4 div {
  gap: 22px;
}

.row_4 .banner_1 {
  width: 302px;
  height: 302px;
}

.row_4 .banner_2 {
  width: 658px;
  height: 302px;
}

.row_4 .banner_3 {
  width: 302px;
  height: 302px;
}

@media (max-width: 1025px) {
  .row_4 {
    padding-bottom: 56px;
  }

  .row_4 div {
    gap: 15.6px;
  }

  .row_4 .banner_1 {
    width: 215px;
    height: 201px;
  }

  .row_4 .banner_2 {
    width: 467px;
    height: 201px;
  }

  .row_4 .banner_3 {
    width: 215px;
    height: 201px;
  }
}

@media (max-width: 769px) {
  .row_4 {
    display: none;
  }
}

@media (max-width: 640px) {
  .row_4 {
    display: block;
    padding: 0 16px;
  }

  .row_4 .banner_1,
  .banner_3 {
    display: none;
  }
}