.thanksBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 3rem;
    text-align: center;
}

.thanksBox h1 {
    font-size: 1.875rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.thanksBox p {
    font-size: 1.125rem;
    color: #374151;
    max-width: 28rem;
    margin-bottom: 1.25rem;
}


@media (max-width: 640px) {
    .thanksBox {
        margin-top: 30px;
        padding: 0;
    }

    .thanksBox h1 {
        font-size: 20px;
        margin-top: 0px;
        margin-bottom: 5px;
    }

    .thanksBox p {
        font-size: 16px;
        padding: 0 10px;
        margin-bottom: 10px;
    }

}