.ImageGrid {
    padding: 80px 0;
}

.ImageGrid .img_desc span {
    color: #FFF;
    font-weight: 500;
    position: absolute;
    /* transform: translateY(-50%); */
    text-transform: uppercase;
}

.ImageGrid .leftImage .img_desc span {
    font-size: 79.521px;
    top: 55%;
    left: 67px;
    line-height: 1.13;
}

.ImageGrid .rightImage .img:nth-of-type(1) .img_desc span {
    font-size: 37.556px;
    bottom: 20px;
    left: 45px;
}

.ImageGrid .rightImage .img:nth-of-type(2) .img_desc span {
    font-size: 37.556px;
    bottom: 20px;
    right: 30px;
}