.scrollToTop {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background: gray;
    color: black;
    border-radius: 9999px;
    cursor: pointer;
    z-index: 999;
    transition: all 0.3s ease;
    font-size: 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scrollToTop:hover {
    background: #333;
}