@model UpdateShapeDto
@{
    ViewData["Title"] = "UpdateShape";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Forma əməliyyatları</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Forma Yeniləmə Səhifəsi</div>
                        </div>
                        <div class="card-body">
                            <input type="hidden" asp-for="Id" />
                            <div class="form-group">
                                <label for="shapename">Forma Adı</label>
                                <input type="text" class="form-control" asp-for="Name" id="shapename" required>
                            </div>
                        </div><div class="card-action">
                            <button class="btn btn-success">Təsdiq Et</button>
                            <a href="/Shape/Index" class="btn btn-secondary">İmtina Et</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

