.products_detail {
    display: flex;
    flex-wrap: wrap;
    /* Responsiveness üçün */
    gap: 48px;
    padding: 32px;
    align-items: flex-start;
}

.products_detail .leftSide {
    display: flex;
    gap: 16px;
    align-items: center;
    align-items: flex-start;
}

.products_detail .leftSide .thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* max-height: 400px; */
    /* overflow-y: auto; */
    scrollbar-width: thin;
    /* Firefox */
}

.products_detail .leftSide .thumbnails .thumbnailImage {
    width: 95px;
    height: 127px;
    object-fit: contain;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
    transition: transform 0.2s ease;
}

/* .thumbnail:hover {
    transform: scale(1.05);
    border-color: black;
} */

/* .products_detail .leftSide .mainImage {
    position: relative;
    çünki next/image fill istifadə edir
    width: 380px;
    height: 400px;
    border-radius: 6px;
    overflow: hidden;
    object-fit: none;
} */

/* ----------------------------------------------------- */

.products_detail .rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.products_detail .rightSide .title {
    color: #000;

    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 33.553px;
    /* 139.803% */
    text-transform: uppercase;
}

.products_detail .rightSide .desc {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.553px;
    /* 139.803% */
    text-transform: capitalize;
}

.products_detail .rightSide .price {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.products_detail .rightSide .colorRow {
    display: flex;
    align-items: center;
    gap: 28px;
    flex-direction: column;
    justify-content: start;
    align-self: start;
}

.products_detail .rightSide .colorRow span {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.products_detail .rightSide .colorRow .colorList {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    gap: 5px;
}

.products_detail .rightSide .colorRow .colorDot {
    width: 54px;
    height: 54px;
    background: linear-gradient(180deg, #F3D8B0 0%, #FFF4CE 36.72%, #F3D8B0 58.85%, #FFF4CE 104.63%);
    border-radius: 50%;
    border: 1px solid #ccc;
    align-self: start;
    cursor: pointer;
}

.products_detail .rightSide .buyRow {
    display: flex;
    gap: 12px;
    margin-top: 12px;
}

.products_detail .rightSide .buyRow input {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 66px;
    font-size: 20px;
}

.products_detail .rightSide .buyRow .buyButton {
    color: #FFF;
    background: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.553px;
    /* 139.803% */
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.3s ease;
    width: 327px;
    padding: 16px 0px;
    border: 1px solid white;
}

.products_detail .rightSide .buyRow .buyButton:hover {
    background: white;
    color: black;
    border: 1px solid #ccc;
    font-weight: 600;
}

.products_detail .rightSide .note {
    color: #000;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 10px;
}

.products_detail .rightSide .note p {
    display: inline-block;
    border-bottom: 1px solid #000;
    cursor: pointer;
}


/* ---------------------------------- */

@media (max-width: 1281px) {
    .products_detail {
        gap: 32px;
        padding: 32px;
    }

    /* ----------------------------------------------------- */

    .products_detail .rightSide {
        gap: 22px;
    }
}

@media (max-width: 1024px) {
    .products_detail {
        gap: 32px;
        padding: 32px;
    }

    /* ----------------------------------------------------- */

    .products_detail .rightSide {
        gap: 22px;
    }
}