.purchaseContent {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 0 40px 80px 40px;
}

.purchaseContent .leftSide {
    width: 680px;
    max-height: 600px;
    overflow-y: auto;
    position: relative;    
}

.purchaseContent .leftSide .emptyBag {
    padding: 20px 0 0 0;
    font-size: 20px;
}

.purchaseContent .leftSide h2 {
    position: sticky;
    top: 0;
    background: white;
    /* Scroll zamanı arxanın görünməməsi üçün */
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    padding-bottom: 14px;
    margin-right: 30px;
}

.purchaseContent .leftSide .itemBag {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    margin-right: 30px;
}

.purchaseContent .leftSide .itemBag img {
    width: 250px;
    height: 334px;
    flex-shrink: 0;
    aspect-ratio: 125/167;
    object-fit: cover;
}

.purchaseContent .leftSide .itemBag .itemBox {
    padding: 34px 0 0 0;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-bottom: 15px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc h1,
.purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
    color: #000;
    font-family: Montserrat;
    font-size: 21px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    /* padding-bottom: 20px; */
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc h1 {
    padding-bottom: 10px;
    font-size: 24px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc p {
    text-transform: capitalize;
    font-weight: 600;
}

.purchaseContent .leftSide .itemBag .itemBox .itemDesc p span {
    font-weight: 500;
}

.purchaseContent .leftSide .itemBag .itemBox .itemButtons {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.purchaseContent .leftSide .itemBag .itemBox .itemButtons button {
    /* padding: 10px; */
    font-size: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

/* ------------------------------ */

.purchaseContent .rightSide {
    width: 550px;
}

.purchaseContent .rightSide h2 {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border-bottom: 1px solid rgba(0, 0, 0, 0.44);
    padding-bottom: 14px;
    margin-bottom: 34px;
}

.purchaseContent .rightSide span {
    color: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    /* text-transform: capitalize; */
}

.purchaseContent .rightSide .generalMoney {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.purchaseContent .rightSide .generalMoney span:last-child {
    font-weight: 600;
}

.purchaseContent .rightSide .transportPart {
    display: flex;
    justify-content: space-between;
}

.purchaseContent .rightSide .transportPart span {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 24px;
}

.purchaseContent .rightSide .transportPart span:last-child {
    font-weight: 600;
}

.purchaseContent .rightSide .transportPart span span {
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    margin-top: 6px;
    font-weight: 500;
}

.purchaseContent .rightSide .buttonDiv {
    width: 100%;
    margin: 0 auto;
    margin-top: 30px;
}

.purchaseContent .rightSide .buttonDiv button {
    background: #000;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: #D9D9D9;
    padding: 26px 0;
    width: 300px;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.purchaseContent .rightSide .buttonDiv button:hover {
    color: #000;
    background: #D9D9D9;
}