@model List<ResultColorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    Rəng Listi 
                </div>
                <div class="card-body">
                    <div class="card-sub">
                        Rəng ilə bağlı əməliyyatları aşağıdan görə bilərsiniz.
                    </div>
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover text-nowrap">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Rəng adı</th>
                                    <th scope="col">Yenilə</th>
                                    <th scope="col">Sil</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Name</td>
                                        <td><a href="/Color/UpdateColor/@item.Id" class="btn btn-outline-success">Yenilə</a></td>
                                        <td><a href="/Color/DeleteColor/@item.Id" class="btn btn-outline-danger">Sil</a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <a href="/Color/CreateColor/" class="btn btn-outline-primary">Yeni Rəng Əlavə Et</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

