.brands {
    margin-top: 40px;
}

.cards_container {
    padding: 0 0 60px 0;
    flex-wrap: wrap;
    gap: 16px;
}

@media (max-width:1025px) {
    .cards_container {
        padding: 0 0 35px 0;
    }
}

@media (max-width:640px) {
    .brands {
        margin-top: 20px;
    }
}