.moreButton {
    padding: 0 0 20px 0;
}

.moreButton button {
    border-radius: 2px;
    box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
    height: 47.631px;
    padding: 0 30px;
    font-size: 18.675px;
}

@media (max-width: 1025px) {

    .moreButton button {
        border-radius: 2px;
        box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
        height: 33.631px;
        padding: 0 20px;
        font-size: 14.702px;
    }
}

@media (max-width: 769px) {

    .moreButton button {
        border-radius: 1.317px;
        box-shadow: 0px 2.727px 2.727px 0px rgba(0, 0, 0, 0.25);
        height: 31.631px;
        padding: 0 16px;
        font-size: 13.634px;
    }
}

@media (max-width: 640px) {

    .moreButton button {
        border-radius: 1.288px;
        box-shadow: 0px 2.667px 2.667px 0px rgba(0, 0, 0, 0.25);
        height: 30px;
        padding: 0 16px;
        font-size: 13.333px;
    }
}