.moreButton {
    padding: 0 0 20px 0;
}

.moreButton button {
    border-radius: 2px;
    box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
    height: 47.631px;
    padding: 0 30px;
    font-size: 18.675px;
}

@media (max-width: 1025px) {

    .moreButton button {
        border-radius: 2px;
        box-shadow: 0px 4.142px 4.142px 0px rgba(0, 0, 0, 0.25);
        height: 33.631px;
        padding: 0 20px;
        font-size: 14.702px;
    }
}